### import

In [3]:
import pandas as pd

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

### read in and clean target table

In [ ]:
# define the file paths
file_path_male = '/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_MALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_MALE_Y2023M06D28.CSV'

file_path_female = '/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_FEMALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_FEMALE_Y2023M06D28.CSV'

# read in csv file
df_male = pd.read_csv(file_path_male)

df_male.head()

In [4]:
# read in csv file
df_female = pd.read_csv(file_path_female)

df_female.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [6]:
# union male and female datasets together
df_combined = pd.concat([df_female, df_male], ignore_index=True)
df_combined.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [7]:
df_combined.shape

(808920, 19)

In [15]:
# check distinct values, if only one, can drop
df_combined['cause_name'].unique()

array(['Stomach cancer'], dtype=object)

In [10]:
# select important fields
df_select = df_combined[['location_id', 'fips', 'race_name', 'sex_name', 'age_name', 'val']]
df_select.head()

   location_id  fips race_name sex_name age_name  val
0          102   NaN     Total   Female  <1 year  0.0
1          102   NaN    Latino   Female  <1 year  0.0
2          102   NaN     Black   Female  <1 year  0.0
3          102   NaN     White   Female  <1 year  0.0
4          102   NaN      AIAN   Female  <1 year  0.0

In [11]:
df_select.shape

(808920, 6)

In [12]:
# filter out rows where 'fips' is null, we'll need this field
df_filtered = df_select.dropna(subset=['fips'])

# also filter out rows where 'race_name' is 'Total'
df_filtered = df_filtered[df_filtered['race_name'] != 'Total']

df_filtered.head()

     location_id  fips race_name sex_name age_name  val
127          523   1.0    Latino   Female  <1 year  0.0
128          523   1.0     Black   Female  <1 year  0.0
129          523   1.0     White   Female  <1 year  0.0
130          523   1.0      AIAN   Female  <1 year  0.0
131          523   1.0       API   Female  <1 year  0.0

In [13]:
df_filtered.shape

(673890, 6)

### read in SDOH data, to be joined on ??? to get ???

In [19]:
# read in sdoh data
sdoh = pd.read_csv('/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/SDOH_2020_ZIPCODE_1_0.csv')

sdoh.head()

,YEAR,STATEFIPS,ZIPCODE,ZCTA,STATE,REGION,TERRITORY,POINT_ZIP,ACS_TOT_POP_WT_ZC,ACS_TOT_POP_US_ABOVE1_ZC,...,CEN_POPDENSITY_ZC,HIFLD_DIST_UC_ZP,POS_DIST_ED_ZP,POS_DIST_MEDSURG_ICU_ZP,POS_DIST_TRAUMA_ZP,POS_DIST_PED_ICU_ZP,POS_DIST_OBSTETRICS_ZP,POS_DIST_CLINIC_ZP,POS_DIST_ALC_ZP,CEN_AIAN_NH_IND
0,2020,15,96759,NaN,Hawaii,NaN,0,1,NaN,NaN,...,NaN,7.41,4.61,4.61,10.44,16.30,10.44,3.98,10.44,NaN
1,2020,2,99675,NaN,Alaska,NaN,0,1,NaN,NaN,...,NaN,205.60,209.98,210.08,211.62,210.08,209.98,39.64,210.73,NaN
2,2020,41,97010,NaN,Oregon,NaN,0,0,NaN,NaN,...,NaN,12.98,16.76,16.76,25.34,29.23,16.76,12.49,24.05,NaN
3,2020,6,93928,NaN,California,NaN,0,1,NaN,NaN,...,NaN,26.02,19.44,19.44,56.02,96.97,19.44,19.17,53.74,NaN
4,2020,6,95836,NaN,California,NaN,0,0,NaN,NaN,...,NaN,6.58,10.30,10.30,12.87,12.32,12.32,9.29,10.30,NaN

### read in health measures and metrics by county, to be joined on location_id?

In [20]:
# read in zcta data
zcta = pd.read_csv('/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')

zcta.head()

/var/folders/y7/yk0j4d9s2qj2h8b8s_9fjjjr0000gs/T/ipykernel_17701/2675066585.py:2: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  zcta = pd.read_csv('/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')

,Year,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
0,2021,1001,BRFSS,Prevention,Current lack of health insurance among adults ...,%,Crude prevalence,4.1,NaN,NaN,3.4,5.0,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,ACCESS2,CrdPrv,Health Insurance
1,2021,1001,BRFSS,Health Outcomes,Arthritis among adults aged >=18 years,%,Crude prevalence,33.7,NaN,NaN,30.1,37.4,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis
2,2021,1001,BRFSS,Health Risk Behaviors,Binge drinking among adults aged >=18 years,%,Crude prevalence,15.6,NaN,NaN,13.2,18.2,16769,POINT (-72.62581515 42.06255509),1001,RISKBEH,BINGE,CrdPrv,Binge Drinking
3,2021,1001,BRFSS,Health Outcomes,High blood pressure among adults aged >=18 years,%,Crude prevalence,33.8,NaN,NaN,30.2,37.4,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,BPHIGH,CrdPrv,High Blood Pressure
4,2021,1001,BRFSS,Prevention,Taking medicine for high blood pressure contro...,%,Crude prevalence,78.9,NaN,NaN,75.7,81.8,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,BPMED,CrdPrv,Taking BP Medication

### read in fips to ZCTA crosswalk, to be joined on ??? to get the fields required to join the top 2 tables?

In [21]:
# not sure what file to download and where