# Test Datasets for Project Option #2
Capstone Project\
ADS-599 Summer 2024\
Roger Qiu & Shailja Somani

### import

In [1]:
import pandas as pd

### read in and clean target table

In [2]:
# define the file paths
#file_path_male = '/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_MALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_MALE_Y2023M06D28.CSV'
#file_path_female = '/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_FEMALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_FEMALE_Y2023M06D28.CSV'

file_path_male = '/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_MALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_MALE_Y2023M06D28.CSV'
file_path_female = '/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_FEMALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_FEMALE_Y2023M06D28.CSV'

# read in csv file, making sure to keep County FIPS field a string 
df_male = pd.read_csv(file_path_male)

df_male.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [3]:
# read in csv file
df_female = pd.read_csv(file_path_female)

df_female.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [4]:
# union male and female datasets together
df_combined = pd.concat([df_female, df_male], ignore_index=True)
df_combined.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [5]:
df_combined.shape

(808920, 19)

In [6]:
# check distinct values, if only one, can drop
df_combined['cause_name'].unique()

array(['Stomach cancer'], dtype=object)

In [7]:
# select important fields
df_select = df_combined[['location_id', 'location_name', 'fips', 'race_name', 'sex_name', 'age_name', 'age_group_id', 'val']]
df_select.head()

,location_id,location_name,fips,race_name,sex_name,age_name,age_group_id,val
0,102,United States of America,NaN,Total,Female,<1 year,28,0.0
1,102,United States of America,NaN,Latino,Female,<1 year,28,0.0
2,102,United States of America,NaN,Black,Female,<1 year,28,0.0
3,102,United States of America,NaN,White,Female,<1 year,28,0.0
4,102,United States of America,NaN,AIAN,Female,<1 year,28,0.0

In [8]:
df_select.shape

(808920, 8)

In [11]:
# filter out rows where 'fips' is null, we'll need this field
df_filtered = df_select.dropna(subset=['fips'])

# also filter out rows where 'race_name' is 'Total' bc that's aggregated data
df_filtered = df_filtered[df_filtered['race_name'] != 'Total']

# Similar to filtering out race-aggregated data, filter out age-aggregated data
df_filtered = df_filtered[~df_filtered['age_name'].isin(['All Ages', 'Age-standardized'])]

# Filter out rows for aggregated to entire states rather than individual counties
df_filtered = df_filtered[df_filtered['fips'] > 99].reset_index()

df_filtered.head()

,index,location_id,location_name,fips,race_name,sex_name,age_name,age_group_id,val
0,253,614,Autauga County (Alabama),1001.0,Latino,Female,<1 year,28,0.0
1,254,614,Autauga County (Alabama),1001.0,Black,Female,<1 year,28,0.0
2,255,614,Autauga County (Alabama),1001.0,White,Female,<1 year,28,0.0
3,256,614,Autauga County (Alabama),1001.0,AIAN,Female,<1 year,28,NaN
4,257,614,Autauga County (Alabama),1001.0,API,Female,<1 year,28,NaN

In [12]:
df_filtered.shape

(600020, 9)

### Read in SDOH data to be joined via County FIPS Code

In [13]:
# read in sdoh data
sdoh = pd.read_excel('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/SDOH_2019_COUNTY_1_0.xlsx', sheet_name='Data')
sdoh.head()

,YEAR,COUNTYFIPS,STATEFIPS,STATE,COUNTY,REGION,TERRITORY,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,...,POS_TOT_HOSP_AMBULANCE,POS_HOSP_AMBULANCE_RATE,POS_TOT_HOSP_CHEMO,POS_HOSP_CHEMO_RATE,POS_TOT_HOSP_ED,POS_HOSP_ED_RATE,POS_PCT_HOSP_FOR_PROFIT,POS_PCT_HOSP_NON_PROFIT,POS_PCT_HOSP_GOV,CEN_AIAN_NH_IND
0,2019,1001,1,Alabama,Autauga County,South,0,55380.0,54699.0,52163.0,...,0.0,0.00,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0
1,2019,1003,1,Alabama,Baldwin County,South,0,212830.0,210908.0,201141.0,...,0.0,0.00,1.0,0.0,4.0,0.02,63.49,36.51,0.00,0.0
2,2019,1005,1,Alabama,Barbour County,South,0,25361.0,25050.0,24012.0,...,0.0,0.00,0.0,0.0,1.0,0.04,73.33,20.00,6.67,0.0
3,2019,1007,1,Alabama,Bibb County,South,0,22493.0,22141.0,21178.0,...,1.0,0.04,0.0,0.0,1.0,0.04,42.86,35.71,21.43,0.0
4,2019,1009,1,Alabama,Blount County,South,0,57681.0,57191.0,54249.0,...,0.0,0.00,0.0,0.0,1.0,0.02,60.00,40.00,0.00,0.0

In [14]:
# Keep just CountyFIPS column as matching key & all SDOH values - will try selecting a key few, as well as PCA on all columns, later
sdoh_filtered = sdoh.drop(columns=['YEAR', 'STATEFIPS', 'STATE', 'COUNTY', 'REGION', 'TERRITORY'])
sdoh_filtered.head()

,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,ACS_TOT_POP_ABOVE15,ACS_TOT_POP_ABOVE16,ACS_TOT_POP_16_19,ACS_TOT_POP_ABOVE25,ACS_TOT_CIVIL_POP_ABOVE18,ACS_TOT_CIVIL_VET_POP_ABOVE25,...,POS_TOT_HOSP_AMBULANCE,POS_HOSP_AMBULANCE_RATE,POS_TOT_HOSP_CHEMO,POS_HOSP_CHEMO_RATE,POS_TOT_HOSP_ED,POS_HOSP_ED_RATE,POS_PCT_HOSP_FOR_PROFIT,POS_PCT_HOSP_NON_PROFIT,POS_PCT_HOSP_GOV,CEN_AIAN_NH_IND
0,1001,55380.0,54699.0,52163.0,44749.0,43953.0,3016.0,37367.0,41725.0,5120.0,...,0.0,0.00,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0
1,1003,212830.0,210908.0,201141.0,174821.0,172297.0,10307.0,151112.0,166417.0,19541.0,...,0.0,0.00,1.0,0.0,4.0,0.02,63.49,36.51,0.00,0.0
2,1005,25361.0,25050.0,24012.0,20968.0,20636.0,1080.0,17964.0,20054.0,1328.0,...,0.0,0.00,0.0,0.0,1.0,0.04,73.33,20.00,6.67,0.0
3,1007,22493.0,22141.0,21178.0,18827.0,18492.0,1065.0,16168.0,17862.0,1391.0,...,1.0,0.04,0.0,0.0,1.0,0.04,42.86,35.71,21.43,0.0
4,1009,57681.0,57191.0,54249.0,46625.0,45907.0,2904.0,39791.0,44257.0,3406.0,...,0.0,0.00,0.0,0.0,1.0,0.02,60.00,40.00,0.00,0.0

In [15]:
# Join to target data
target_sdoh_data = df_filtered.merge(sdoh_filtered, left_on='fips', right_on='COUNTYFIPS')
target_sdoh_data.head()

,index,location_id,location_name,fips,race_name,sex_name,age_name,age_group_id,val,COUNTYFIPS,...,POS_TOT_HOSP_AMBULANCE,POS_HOSP_AMBULANCE_RATE,POS_TOT_HOSP_CHEMO,POS_HOSP_CHEMO_RATE,POS_TOT_HOSP_ED,POS_HOSP_ED_RATE,POS_PCT_HOSP_FOR_PROFIT,POS_PCT_HOSP_NON_PROFIT,POS_PCT_HOSP_GOV,CEN_AIAN_NH_IND
0,253,614,Autauga County (Alabama),1001.0,Latino,Female,<1 year,28,0.0,1001,...,0.0,0.0,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0
1,254,614,Autauga County (Alabama),1001.0,Black,Female,<1 year,28,0.0,1001,...,0.0,0.0,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0
2,255,614,Autauga County (Alabama),1001.0,White,Female,<1 year,28,0.0,1001,...,0.0,0.0,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0
3,256,614,Autauga County (Alabama),1001.0,AIAN,Female,<1 year,28,NaN,1001,...,0.0,0.0,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0
4,257,614,Autauga County (Alabama),1001.0,API,Female,<1 year,28,NaN,1001,...,0.0,0.0,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0

### Read in FIPS to ZCTA Crosswalk
https://data.world/nrippner/fips-to-zip-code-crosswalk

In [16]:
crosswalk_df = pd.read_csv('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/fips_zip_x.txt', 
                           delimiter=',', quotechar='"', skiprows=1, encoding='ISO-8859-1')
crosswalk_df.head()

,FIPS state,county,ZIP Census Tabulation Area,State Postal Code,cntyname,zipname,"Total Pop, 2010 census",county to zcta5 alloc factor
0,1,1001,36003,AL,Autauga AL,"Autaugaville, AL",1975,0.036
1,1,1001,36006,AL,Autauga AL,"Billingsley, AL",994,0.018
2,1,1001,36022,AL,Autauga AL,"Deatsville, AL",4265,0.078
3,1,1001,36051,AL,Autauga AL,"Marbury, AL",1615,0.030
4,1,1001,36066,AL,Autauga AL,"Prattville, AL",17282,0.317

In [ ]:
# Keep only crosswalk columns needed
crosswalk_df = crosswalk_df[['county', 'ZIP Census Tabulation Area']]

# Join crosswalk to dataset
target_xwalk_df = target_sdoh_data.merge(crosswalk_df, left_on='fips', right_on='county')
target_xwalk_df.head()

### Read in CDC PLACES health measures data (to be joined using ZCTA)
Note: Do not confuse LocationName with the FIPS codes. These are now ZCTAs. One way to check/confirm this is that this LocationName field has 1002, which is a ZCTA code, but not a valid FIPS code.

In [36]:
# Read in CDC PLACES health measures data
#zcta = pd.read_csv('/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')
health_meas = pd.read_csv('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')
health_meas.head()

/var/folders/rq/tgl8p9x96vl4gjdp366mpjv00000gn/T/ipykernel_72765/4035758417.py:3: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  health_meas = pd.read_csv('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')

,Year,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
0,2021,1001,BRFSS,Prevention,Current lack of health insurance among adults ...,%,Crude prevalence,4.1,NaN,NaN,3.4,5.0,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,ACCESS2,CrdPrv,Health Insurance
1,2021,1001,BRFSS,Health Outcomes,Arthritis among adults aged >=18 years,%,Crude prevalence,33.7,NaN,NaN,30.1,37.4,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis
2,2021,1001,BRFSS,Health Risk Behaviors,Binge drinking among adults aged >=18 years,%,Crude prevalence,15.6,NaN,NaN,13.2,18.2,16769,POINT (-72.62581515 42.06255509),1001,RISKBEH,BINGE,CrdPrv,Binge Drinking
3,2021,1001,BRFSS,Health Outcomes,High blood pressure among adults aged >=18 years,%,Crude prevalence,33.8,NaN,NaN,30.2,37.4,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,BPHIGH,CrdPrv,High Blood Pressure
4,2021,1001,BRFSS,Prevention,Taking medicine for high blood pressure contro...,%,Crude prevalence,78.9,NaN,NaN,75.7,81.8,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,BPMED,CrdPrv,Taking BP Medication

In [40]:
# Pivot data so that each row is a ZCTA (geographical location) and each column is a metric's % value
pivoted_health_meas = health_meas.pivot_table(index='LocationName', 
                                columns='Short_Question_Text', 
                                values='Data_Value',
                                aggfunc='first') 

# Make locationname a column again & remove short_question_text as header
pivoted_health_meas.reset_index(inplace=True)
pivoted_health_meas.columns.name = None
pivoted_health_meas.head()

,LocationName,All Teeth Lost,Annual Checkup,Any Disability,Arthritis,Binge Drinking,COPD,Cancer (except skin),Cervical Cancer Screening,Cholesterol Screening,...,Mental Health,Mobility Disability,Obesity,Physical Health,Physical Inactivity,Self-care Disability,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability
0,1001,13.3,74.5,31.5,33.7,15.6,7.3,9.1,85.6,89.1,...,16.3,14.3,31.8,11.3,23.4,3.5,33.5,3.3,78.9,4.2
1,1002,12.4,69.2,26.5,18.9,17.3,5.1,4.9,73.5,78.0,...,20.2,9.2,23.3,8.9,19.9,2.9,30.1,2.1,70.1,4.4
2,1003,NaN,63.1,35.2,5.5,19.3,3.4,0.7,46.7,56.0,...,33.8,4.0,22.2,8.5,22.7,2.2,33.1,0.7,19.8,6.4
3,1005,12.1,75.7,24.9,26.4,17.4,6.4,7.4,86.2,88.3,...,16.2,10.7,31.4,10.0,19.9,2.9,32.5,2.7,74.5,3.4
4,1007,9.2,71.7,21.3,25.2,18.1,5.3,6.9,85.4,89.0,...,14.7,9.4,25.7,8.9,17.3,2.5,30.0,2.3,73.3,3.0

In [ ]:
# Join to rest of dataset
full_data = target_xwalk_df.merge(pivoted_health_meas, left_on='ZIP Census Tabulation Area', right_on='LocationName')